<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    
<mapper namespace="com.pratice.board.mapper.boardMapper">
	<!-- 게시판 리스트 -->
 	<select id = "getBoardList" resultType ="com.practice.board.post.postVO">
 		SELECT 
 			id, post_num, title, content, regdate
 		FROM
 			post
 	</select>

	<!-- 특정 게시물 -->
	<select id = "getBoardPost" resultType ="com.practice.board.post.postVO"
	parameterType ="int">
		SELECT
			id, post_num, title, content, regdate
		FROM
			post
		WHERE	
			post_num = #{post_num}		
	</select>
	
	<!-- 게시물 업로드 -->
	<insert id = "insertBoard" parameterType ="com.practice.board.post.postVO">
		INSERT INTO post(id, title, content, updatedate)
		VALUES(
			"${id}",
			"${title}",
		    "${content}",
		    now()
		)		
	</insert>
	
	<insert id = "initID" >
		ALTER TABLE post AUTO_INCREMENT = 1;
	</insert>

	<!-- 게시물 수정 -->
	<update id = "updateBoard" parameterType = "com.practice.board.post.postVO">
		UPDATE post SET
			title = ${title},
			content = ${content}
		WHERE
			post_num = ${post_num}
	</update>
	
	<!-- 게시물 삭제 -->
	<delete id = "deleteBoard" parameterType = "int" >
		Delete FROM post WHERE post_num = #{post_num}
	</delete>	
</mapper>



